<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maraphon Optimizer</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/preload.min.js" defer></script>
</head>
<body>
<section>
    <h3 class="header">Maraphon Optimizer</h3>

    <form action="/maraphon" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/x-png,image/jpeg" name="image"/>
        <button class="small primary" type="submit">Convert</button>
    </form>
</section>

<a href="/working/" target="_blank">Working Folder</a>
</body>
</html>
