@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

:root {
  //noinspection CssUnknownProperty
  color-scheme: light dark;
  --background-color: #fff;
  --color: #7d7d7d;
  --section-color: #fff;
  //--section-shadow-color: rgba(175, 175, 175, .25);
  --section-shadow-color: unset;
  --hljs-background: #fbfbfb;
  --hljs-border: 0.5px #dedede solid;
  --hljs-tag-color: #c2c1c2;
  --hljs-name-color: #f86a93;
  --hljs-attr-color: #7d7ed8;
  --hljs-string-color: #05bab5;
}

//noinspection CssInvalidMediaFeature
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --color: #fff;
    --section-color: #000;
    --section-shadow-color: unset;
    --hljs-background: #111;
    --hljs-border: unset;
  }
}

@import "title";
@import "button";

html,
body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--color);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  .version-panel {
    position: fixed;
    right: 0;
    bottom: 0;
    padding-left: 24px;
    padding-right: 24px;

    .version {
      font-size: 10pt;
    }
  }

  section.panel {
    padding: 20px;
    background-color: var(--section-color);
    border-radius: 15px;
    box-shadow: 0 10px 20px var(--section-shadow-color);
    max-width: 300px;
    width: 100%;
    margin: 60px 0;

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;

      .image {
        width: 100%;

        picture {
          width: 100%;

          img {
            width: 100%;
          }
        }

        pre {
          white-space: pre-wrap;
          padding: 0;

          .hljs {
            background-color: var(--hljs-background);
            border-radius: 1em;
            padding: 2em;
            border: var(--hljs-border);

            .hljs-tag {
              color: var(--hljs-tag-color);

              .hljs-name {
                color: var(--hljs-name-color);
              }

              .hljs-attr {
                color: var(--hljs-attr-color);
              }

              .hljs-string {
                color: var(--hljs-string-color);
              }
            }
          }
        }
      }
    }

    &.max-width {
      max-width: 1280px;
    }

    .header {
      text-align: center;
      margin-block-end: 20px;
      margin-block-start: unset;
    }

    .preview {
      ol {
        list-style-type: none;
        padding-inline-start: 0;
        padding: 0;
        margin: 0;

        li {
          &:not(:first-child) {
            margin-top: 16px;
          }

          img {
            width: 100%;
            height: auto;
          }

          p {
            padding: 0;
            margin: 0;
            overflow-wrap: break-word;
          }
        }
      }

      p {
        padding: 0;
        margin: 0;
      }
    }

    form {
      display: flex;
      flex-flow: column;
      margin: 0;
      padding: 0;

      label {
        display: block;
        margin: 20px 0 0;
        align-self: flex-start;
        position: relative;

        input {
          width: 100%;
          height: 100%;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          //z-index: -1;
          top: 0;
          left: 0;
        }
      }

      button {
        margin-top: 20px;
        display: block;
        align-self: flex-end;
      }
    }
  }
}

pre {
  overflow-y: scroll;
  padding: 1.5em;
}

.hide-dark {
  display: unset;

  //noinspection CssInvalidMediaFeature
  @media (prefers-color-scheme: dark) {
    display: none;
  }
}

.show-dark {
  display: none;

  //noinspection CssInvalidMediaFeature
  @media (prefers-color-scheme: dark) {
    display: unset;
  }
}
